.header1 {
    width :100%;
    height :100vh;
    background-image: url('../images/bg1.png');
    background-repeat : no-repeat;
    background-size: 100% 100%;
} 

.header2 {
    width :100%;
    height :100vh;
    background-image: url('../images/rms2.jpeg');
    background-repeat : no-repeat;
    background-size: 100% 100%;
} 

.here {
    width: 100px;
    height: 35px;
    padding-left: 60px;
}
